@import "~react-image-gallery/styles/scss/image-gallery.scss";

.gallery {
    display: flex;
    flex-direction: column;
    background-color: #F4F7FA;

    padding: 36px 96px 24px 96px;

    gap: 25px;



    .image-gallery-thumbnail {
        &:last-child {}
    }

}